venv/
data/
__pycache__/

.hydra/
main.log
# hydra output directory (?)
outputs/
multirun/

plots/
thesis/thesis.aux
thesis/thesis.bbl
thesis/thesis.blg
thesis/thesis.log
thesis/thesis.out
thesis/thesis.run.xml
thesis/thesis.toc
